<form [formGroup]="form" >

  <mat-card>
    <mat-card-title>Datos del cliente</mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>nombre Cliente</mat-label>
        <input matInput placeholder="nombre Cliente" formControlName="nombreCliente">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br>

  <mat-card>
    <mat-card-title>Buscador de productos</mat-card-title>
    <mat-card-content>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>buscador Producto</mat-label>
        <input matInput placeholder="buscador Producto" formControlName="buscadorProducto">
      </mat-form-field>
      <button mat-button color="primary" (click)="obtenerProductos()">Buscar</button>

      <table style="text-align: center;" *ngIf="listaProductos.length>0">
        <thead>
          <tr>
            <th>codigo</th>
            <th>descripcion</th>
            <th>color</th>
            <th>stock</th>
            <th>precio</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let product of listaProductos" (click)="seleccionProducto(product)">
              <td>{{product.codigo}}</td>
              <td >{{product.descripcion}}</td>
              <td>{{product.color}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.precioVenta}}</td>
            </tr>
          </tbody>
        </table>
    </mat-card-content>
  </mat-card>



  <br>

  <mat-card>
    <mat-card-title>Detalles Del Producto</mat-card-title>
    <mat-card-content>

    <table style="text-align: center;" *ngIf="productoSeleccionado.descripcion">
      <thead>
        <th> {{productoSeleccionado.descripcion}}</th>
        <th>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cantidad del producto</mat-label>
            <input type="number" matInput placeholder="cantidad" formControlName="cantidad">
          </mat-form-field>
        </th>
        <th>
          <button mat-button color="primary" (click)="agregarDetalle()">Aregar al carrito</button>
        </th>
      </thead>
    </table>
  </mat-card-content>
  </mat-card>


  <br>

  <mat-card>
    <mat-card-title>Detalle de venta</mat-card-title>
    <mat-card-content>
    <table style="text-align: center; " *ngIf="listadetalleVenta.length>0">
      <thead>
        <tr>
          <th>descripcion</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let product of listadetalleVenta">
            <td>{{product.producto}}</td>
            <td >{{product.precioVenta}}</td>
            <td >{{product.cantidad}}</td>
            <td >{{product.subTotal}}</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: right;">
              Total {{totalVenta}}
            </td>
          </tr>
        </tbody>
      </table>

    </mat-card-content>
  </mat-card>


  <button mat-button color="primary" (click)="guardar()">Guardar Venta</button>
