/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
    width: 100%;
    overflow: auto;
    color: black;
    background-color: aliceblue;
  }
mat-paginator
{
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-form-field{
  width: 90%;
}

th{
  font-weight: bold;
  font-size: medium;
  color: black;
}




.my-custom-scrollbar {
  position: relative;
  height: 248px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

