<li>
  <div class="cd-half-width fivth-slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content fivth-content">
            <div class="row">
              <div class="col-md-4">
                <div class="left-info">
                  <p>Maecenas imperdiet sagittis lacus, ut consequat velit iaculis id. Praesent eu consequat urna. Morbi justo dolor, ornare sed lorem et, auctor iaculis ligula.
                  <br><br>
                  <em>3344 Donec mollis libero<br>at metus luctus 10110</em>
                  </p>
                  <ul class="social-icons">
                    <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                    <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                    <i><a href="#"><i class="fa fa-rss"></i></a></i>
                    <i><a href="#"><i class="fa fa-behance"></i></a></i>
                  </ul>
                </div>
              </div>

              <div class="col-md-8">
                <div class="row">
                  <form form [formGroup]="form" #formDir="ngForm" novalidate>
                    
                    <div class="form-group row">
                      <strong class="control-label col-md-12" for="CantidadTotal">Cantidad de productos vendidos:</strong>
                      <div class="col-md-12">
                          <input type="number" class="form-control" formControlName="cantidadTotal">
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <strong class="control-label col-md-12" for="GananciaTotal">Ganancia total:</strong>
                      <div class="col-md-12">
                          <input type="number" class="form-control" formControlName="gananciaTotal">
                      </div>
                    </div>
                  
                    <div class="form-group row">
                      <label class="control-label col-md-12" for="FechaInicio">Fecha Inicio:</label>
                      <div class="col-md-12">
                          <input type="date" class="form-control" formControlName="fechaInicio">
                      </div>
                      <!-- <span class="text-danger ml-3 " *ngIf="fechaInicio.invalid && formDir.submitted">
                          Fecha de inicio requerido.
                      </span> -->
                    </div>
                  
                    <div class="form-group row">
                      <label class="control-label col-md-12" for="FechaFin">Fecha Fin:</label>
                      <div class="col-md-12">
                          <input type="date" class="form-control" formControlName="fechaFin">
                      </div>
                      <!-- <span class="text-danger ml-3 " *ngIf="fechaFin.invalid && formDir.submitted"> 
                          Fecha de fin requerido.
                      </span>-->
                    </div>
                  
                    <button type="submit" mat-raised-button color="primary" color="primary"  (click)="VerLista()" >Buscar</button> <br><br><br><br>
                  </form>

                  <table mat-table [dataSource]="productos" class="mat-elevation-z8">  
                      <ng-container matColumnDef="idCategoria" >
                          <th mat-header-cell *matHeaderCellDef> Categoria </th>
                          <td mat-cell *matCellDef="let element"> {{element.idCategoria}} </td>
                      </ng-container>

                      <ng-container matColumnDef="marca">
                          <th mat-header-cell *matHeaderCellDef > Marca </th>
                          <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                      </ng-container>

                      <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef > Descripcion </th>
                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                      </ng-container>

                      <ng-container matColumnDef="precioCompra">
                          <th mat-header-cell *matHeaderCellDef > Precio Compra </th>
                          <td mat-cell *matCellDef="let element"> {{element.precioCompra}} </td>
                      </ng-container>

                      <ng-container matColumnDef="precioVenta">
                        <th mat-header-cell *matHeaderCellDef > Precio Venta </th>
                        <td mat-cell *matCellDef="let element"> {{element.precioVenta}} </td>
                      </ng-container>

                      <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef > Cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                      </ng-container>

                      <ng-container matColumnDef="ganancia">
                        <th mat-header-cell *matHeaderCellDef > Ganancia </th>
                        <td mat-cell *matCellDef="let element"> {{(element.precioVenta - element.precioCompra)*element.stock}} </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>
</li>

