<div class="overlay" *ngIf="!load" >
  <div class="loader-container">
     <div class="loader"></div>
     <div class="loader2"></div>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="Guardar()">

  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-error *ngIf="form.controls.nombre.hasError('required')">
            Nombre de descripción <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" formControlName="descripcion">
        <mat-error *ngIf="form.controls.descripcion.hasError('required')">
            Descripcion<strong>requerido</strong>
        </mat-error>
    </mat-form-field>
    </div>
 </div>

 <br>
 &nbsp;&nbsp;&nbsp; <button type="submit" mat-raised-button color="primary" color="primary"  [disabled]="!form.valid" >Guardar</button>

