<div class="overlay" *ngIf="!load" >
  <div class="loader-container">
     <div class="loader"></div>
     <div class="loader2"></div>
  </div>
</div>
<h1 mat-dialog-title>Categoria</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="Guardar()">
  
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-error *ngIf="form.controls.nombre.hasError('required')">
            Nombre de descripción <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" formControlName="descripcion">
        <mat-error *ngIf="form.controls.descripcion.hasError('required')">
            Descripcion<strong>requerido</strong>
        </mat-error>
    </mat-form-field>
   

 <br>
 <button type="submit" mat-raised-button color="primary" color="primary"  [disabled]="!form.valid" mat-dialog-close>Guardar</button>
</form>
</div>