<mat-card class="example-card">
  <mat-card-header>
    <h1 mat-dialog-title>{{data.creado.descripcion}}</h1>
  </mat-card-header>
  <mat-card-content>
    <div mat-dialog-content style="font-size: large; text-align: center; ">
      <p  style="color: rgb(71, 158, 40); font-size: large;"><span>&#10003;</span> Creado con éxito</p>
      Codigo de Producto:
        <hr>
        <div id="print" class="print">
          <ngx-barcode [bc-value]="data.creado.codigo" [bc-display-value]="true"></ngx-barcode>
        </div>
        <hr>
      <img [src]="myimage" class="img-rounded" alt="Producto sin Imagen" width="auto" height="90px">
      <br>
     
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>Aceptar</button>
      <button mat-raised-button color="primary" (click)="printer()">Imprimir</button>
  </mat-card-actions>
</mat-card>


