<form [formGroup]="form" autocomplete="off">

  <mat-card>
    <mat-card-title>Datos del cliente</mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>nombre Cliente</mat-label>
        <input matInput placeholder="nombre Cliente" formControlName="nombreCliente">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br>

  <mat-card>
    <mat-card-title>Buscador de productos</mat-card-title>
    <mat-card-content>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>buscador Producto</mat-label>
        <input matInput placeholder="buscador Producto" formControlName="buscadorProducto">
      </mat-form-field>
      <button mat-button color="primary" (click)="obtenerProductos()">Buscar</button>
      <div class="table-responsive table-responsive table-bordered table-striped table-wrapper-scroll-y my-custom-scrollbar " *ngIf="listaProductos.length>0" >
      <table style="text-align: center;" class="table table-hover">
        <thead>
          <tr>
            <th>codigo</th>
            <th>descripcion</th>
            <th>color</th>
            <th>stock</th>
            <th>precio</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let product of listaProductos" (click)="seleccionProducto(product)">
              <td>{{product.codigo}}</td>
              <td >{{product.descripcion}}</td>
              <td>{{product.color}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.precioVenta}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>



  <br>

  <mat-card>
    <mat-card-title>Detalles Del Producto</mat-card-title>
    <mat-card-content>
      <div class="table-responsive">
    <table style="text-align: center;" *ngIf="productoSeleccionado.descripcion">
      <thead>
          <tr>
            <th>Descripcion</th>
            <th>Precio </th>
            <th>Stock </th>
            <th>Cantidad </th>
            <th>Acciones</th>
          </tr>
      </thead>
       <tbody>
          <tr>
            <td>
              {{productoSeleccionado.codigo}} {{productoSeleccionado.descripcion}} {{productoSeleccionado.color}}
            </td>
            <td>
              {{productoSeleccionado.precioVenta}}
            </td>
            <td>
              {{productoSeleccionado.stock}}
            </td>
            <td>
                <input type="number" class="form-control" placeholder="cantidad" formControlName="cantidad">
            </td>
            <td>
              <button mat-button color="primary" (click)="agregarDetalle()">Aregar al carrito</button>
            </td>
          </tr>
        </tbody>
    </table>
      </div>
  </mat-card-content>
  </mat-card>


  <br>

  <mat-card>
    <mat-card-title>Detalle de venta</mat-card-title>
    <mat-card-content>
   <div class="table-responsive ">
    <table style="text-align: center; " *ngIf="listadetalleVenta.length>0" class="table table-hover">
      <thead>
        <tr>
          <th>descripcion</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let product of listadetalleVenta">
            <td> {{product.producto}}</td>
            <td >{{product.precioVenta}}</td>
            <td >{{product.cantidad}}</td>
            <td >{{product.subTotal}}</td>
            <td>
              <button mat-icon-button color="warn" (click)="eliminarDetalle(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>

          </tr>
          <tr>
            <td colspan="4" style="text-align: right;">
              <strong>Total : </strong> {{totalVenta}} Bs.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </mat-card-content>
  </mat-card>


  <button mat-button color="primary" (click)="guardar()">Guardar Venta</button>
