
<div class="overlay" *ngIf="!load" >
  <div class="loader-container">
     <div class="loader"></div>
     <div class="loader2"></div>
  </div>
</div>
<h1 mat-dialog-title>Producto</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="form">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select  formControlName="genero">
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Femenino">Femenino</mat-option>
              <mat-option value="Unisex">Unisex</mat-option>
          </mat-select>
          <mat-hint align="end">Seleccione un genero </mat-hint>
          <mat-error *ngIf="form.controls.genero.hasError('required')">
              Genero<strong> requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select placeholder="Categorias de Producto" formControlName="idCategoria">
            <mat-option *ngFor="let obj of categorias" [value]="obj.id">
              {{obj.nombre}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Seleccione una Categoria </mat-hint>
          <mat-error *ngIf="form.controls.idCategoria.hasError('required')">
              Categoria<strong> requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Color" formControlName="color">
          <mat-error *ngIf="form.controls.color.hasError('required')">
              Color<strong> requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Talla</mat-label>
          <input matInput placeholder="Talla" formControlName="talla">
          <mat-hint align="end">Caracteres Máximos  {{form.controls.talla.value?.length || 0}}/5</mat-hint>
          <mat-error *ngIf="form.controls.talla.invalid">
              Ingrese la talla<strong> correcta</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Marca</mat-label>
          <input matInput placeholder="Marca" formControlName="marca">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>stock</mat-label>
          <input type="number" matInput placeholder="stock" formControlName="stock">
          <mat-error *ngIf="form.controls.stock.hasError('required')">
              Stock<strong> requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Precio Compra</mat-label>
          <input matInput placeholder="Precio de Compra del Producto" formControlName="precioCompra" >
          <span matPrefix>Bs .</span>
    
          <mat-error *ngIf="form.controls.precioCompra.invalid">
              Precio de Compra del Producto<strong> incorrecto</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Precio Venta</mat-label>
          <input matInput placeholder="Precio de Venta del Producto" formControlName="precioVenta">
          <span matPrefix>Bs .</span>
    
          <mat-error *ngIf="form.controls.precioVenta.invalid">
              Precio de Venta del Producto <strong> incorrecto</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-checkbox class="example-full-width" [formControl]="checkCodigo">Código</mat-checkbox>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="checkCodigo.value">
          <mat-label>Código</mat-label>
          <input matInput placeholder="Ej. DFGH-3456-DF45" formControlName="codigo">
        </mat-form-field>
      </div>
    </div>
          
    <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;" >
      <mat-label>Descripcion</mat-label>
      <textarea matInput rows="12" placeholder="Descripción" formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.controls.descripcion.hasError('required')">
          Descripcion<strong> requerida</strong>
      </mat-error>
    </mat-form-field>

    <label>Ingrese la Imagen</label>
    <input accept="image/jpg"  #img type="file" class="form-control-file border" (change)="onChange($event)" formControlName="imagen">
    <br>
    <div *ngIf="myimage && imagenContador===0" >
        <img [src]="myimage | async" width="200px" height="200px" alt="" />
    </div>
    <div *ngIf="myimage && imagenContador>0" >
      <img [src]="envairomentGloblal+myimage" width="200px" height="200px" alt="" />
    </div>
    <br>
</form>
</div>
<mat-dialog-actions>
  <div class="row">
    <div class="col">
      <button type="button" mat-raised-button color="primary" color="primary"  (click)="Guardar(false)">Guardar Único Producto</button>
    </div>
    <div class="col">
      <button type="button" mat-raised-button color="primary" color="primary" (click)="Guardar(true)" *ngIf="visible">Guardar Más Productos</button>
    </div>
  </div>
</mat-dialog-actions>