
<div class="body">
    <div class="login">

            <form class="example-form" [formGroup]="form" (ngSubmit)="ingresar()">

            <h1>Login</h1>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="User">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password </mat-label>
                <input type="password" matInput formControlName="Password">
            </mat-form-field>

            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Primary</button>
        </form>
    </div>

</div>
