.body{
  padding-top: 6%;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: aliceblue;
}


.ancho{
  width: 30%;
}

.boton{
  height: 50px;
}


.profile-card {
  text-align: center;
}

img {
  width: 15%;
  height: auto;
  border-radius: 20%;
}

