<!-- Page Preloder -->


<!-- Hero section start -->
<section class="hero-section">
  <!-- left social link ber -->
  <div class="left-bar">
    <div class="left-bar-content">
      <div class="social-links">
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <!-- hero slider area -->
  <div class="hero-slider">
    <div class="hero-slide-item set-bg" data-setbg="assets/img/bg.jpg">
      <div class="slide-inner">
        <div class="slide-content">
        <h2>Fash <br>Sport <br> Tarija</h2>
        <a href="#" class="site-btn sb-light">See Project</a>
        </div>
      </div>
    </div>
    <div class="hero-slide-item set-bg" data-setbg="assets/img/bg.jpg">
      <div class="slide-inner">
        <div class="slide-content">
        <h2>Minimalistic <br>Architecture <br> and more</h2>
        <a href="#" class="site-btn sb-light">See Project</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-num-holder" id="snh-1"></div>
  <div class="hero-right-text">TODO DEPORTE</div>
</section>
<!-- Hero section end -->

<!-- Service section start -->
<section class="service-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Servicios</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="sb-icon">
            <div class="sb-img-icon">
              <img src="assets/img/icon/dark/1.png" alt="">
            </div>
          </div>
          <h3>Ventas</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="sb-icon">
            <div class="sb-img-icon">
              <img src="assets/img/icon/dark/2.png" alt="">
            </div>
          </div>
            <h3>Compras</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="sb-icon">
            <div class="sb-img-icon">
              <img src="assets/img/icon/dark/3.png" alt="">
            </div>
          </div>
          <h3>Inventario</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
          <a href="#" class="readmore">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service section end -->



<!-- Clients section start -->
<div class="client-section spad">
  <div class="container">
    <div id="client-carousel" class="client-slider">
      <div class="single-brand">
        <a href="#">
          <img src="assets/img/adidas.png" alt="">
        </a>
      </div>
      <div class="single-brand">
        <a href="#">
          <img src="assets/img/nike.jpg" alt="">
        </a>
      </div>
      <div class="single-brand">
        <a href="#">
          <img src="assets/img/puma.png" alt="">
        </a>
      </div>
      <div class="single-brand">
        <a href="#">
          <img src="assets/img/asics.jpg" alt="">
        </a>
      </div>
      <!--<div class="single-brand">
        <a href="#">
          <img src="assets/img/clients/5.png" alt="">
        </a>
      </div>-->
    </div>
  </div>
</div>
<!-- Clients section end -->


