<form [formGroup]="form" autocomplete="off" >

  <mat-card>
    <mat-card-title>Buscador de productos</mat-card-title>
    <mat-card-content>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>buscador Producto</mat-label>
        <input matInput (keyup.enter)="obtenerProductos()" placeholder="buscador Producto" formControlName="buscadorProducto">
      </mat-form-field>
      <button mat-button color="primary" (click)="obtenerProductos()">Buscar</button>

      <table style="text-align: center;" *ngIf="listaProductos.length>0" class="table table-hover">
        <thead>
          <tr>
            <th>codigo</th>
            <th>descripcion</th>
            <th>color</th>
            <th>stock</th>
            <th>precio</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let product of listaProductos" (click)="seleccionProducto(product)">
              <td>{{product.codigo}}</td>
              <td>{{product.descripcion}}</td>
              <td>{{product.color}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.precioCompra}}</td>
            </tr>
          </tbody>
        </table>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>Detalles Del Producto</mat-card-title>
    <mat-card-content>

    <table style="text-align: center;" *ngIf="productoSeleccionado.descripcion">
      <thead>
          <tr>
            <th>Descripcion producto</th>
            <th>Precio Unitario</th>
            <th>Stock Disponible</th>
            <th>Cantidad Para Venta</th>
            <th>Acciones</th>
          </tr>
      </thead>
       <tbody>
          <tr>
            <td>
              {{productoSeleccionado.codigo}} {{productoSeleccionado.descripcion}} {{productoSeleccionado.color}}
            </td>
            <td>
              {{productoSeleccionado.precioCompra}}
            </td>
            <td>
              {{productoSeleccionado.stock}}
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <input type="number" class="form-control" placeholder="cantidad" formControlName="cantidad">
              </mat-form-field>

            </td>
            <td>
              <button mat-button color="primary" (click)="agregarDetalle()">Aregar al carrito</button>
            </td>
          </tr>
        </tbody>
    </table>
  </mat-card-content>
  </mat-card>




  <mat-card>
    <mat-card-title>Detalle de venta</mat-card-title>
    <mat-card-content>
    <table style="text-align: center; " *ngIf="listadetalleCompra.length>0"  class="table table-hover">
      <thead>
        <tr>
          <th>descripcion</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let product of listadetalleCompra">
            <td>{{product.producto}}</td>
            <td >{{product.precioCompra}}</td>
            <td >{{product.cantidad}}</td>
            <td >{{product.subTotal}}</td>
            <td>

              <button mat-icon-button color="warn" (click)="eliminarDetalle(product)">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-icon-button color="basic" (click)="editarDetalle(product)">
                <mat-icon>create</mat-icon>
              </button>
            </td>

          </tr>
          <tr>
            <td colspan="4" style="text-align: right;">
              <strong>Total :  {{totalCompra}} Bs. </strong>
            </td>
          </tr>
        </tbody>
      </table>

    </mat-card-content>
  </mat-card>


  <button mat-button color="primary" (click)="guardar()">Guardar Compra</button>
