
<div class="overlay" *ngIf="!load" >
  <div class="loader-container">
     <div class="loader"></div>
     <div class="loader2"></div>
  </div>
</div>


<mat-card>

  <mat-card-content>
    <form [formGroup]="form" autocomplete="off" >
      <div class="form-row">

        <div class="form-group col-md-2">
            <button (click)="Buscar()" [disabled]="!form.valid" mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Genero</mat-label>
            <mat-select  formControlName="genero">
                <mat-option value="Todos">Todos</mat-option>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Femenino">Femenino</mat-option>
                <mat-option value="Unisex">Unisex</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput type="date" formControlName="inicio">
          </mat-form-field>
        </div>

        <div class="form-group col-md-3">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Fin</mat-label>
            <input matInput type="date" formControlName="fin">
          </mat-form-field>
        </div>



      </div>
    </form>
    <br>
    <br>
  </mat-card-content>
<mat-card-content>

  <div class="table-responsive table-bordered " *ngIf="reportes.length>0" >
    <table style="text-align: center;" class="table table-hover">
      <thead>
        <tr>
          <th>Informacion Cliente</th>
          <th>Cantidad de compras</th>
          <th>Total gastado</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let reporte of reportes" >
            <td>{{reporte.informacionCliente}}</td>
            <td >{{reporte.cantidadCompras}}</td>
            <td>{{reporte.totalGasto}} Bs.</td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-card-content>
