<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >


    <mat-nav-list >

      <div class="profile-card" *ngIf="_authService.loggedIn()" >
        <h2 >{{rol }}</h2>
        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" >
        <h3 >{{usuario}}</h3>
      </div>


      <a  class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['/stockAlert']">
        <mat-icon> inventory </mat-icon>&nbsp; ALERTAS <mat-icon matBadge={{cantidad}} matBadgeColor="warn" *ngIf="productos && cantidad" >error_outline</mat-icon>
      </a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['/stockDetalle']">
        <mat-icon>inventory</mat-icon>&nbsp;STOCK</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['categorias']">
        <mat-icon>style</mat-icon>&nbsp;CATEGORIAS</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['usuarios']">
        <mat-icon>supervised_user_circle</mat-icon>&nbsp; USUARIOS</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['ventas']">
        <mat-icon>shopping_cart</mat-icon>&nbsp; VENTAS</a>

        <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsVendedor()==true"  [routerLink]="['ventas']">
          <mat-icon>shopping_cart</mat-icon>&nbsp; VENTAS</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['compras']">
        <mat-icon>add_shopping_cart</mat-icon>&nbsp; COMPRAS</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['productos']">
        <mat-icon> local_offer</mat-icon>&nbsp;PRODUCTOS</a>


      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['reporteventas']">
        <mat-icon> find_in_page</mat-icon>&nbsp;REPORTE VENTAS</a>

        <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['reporteclientes']">
          <mat-icon> find_in_page</mat-icon>&nbsp;REPORTE CLIENTES</a>
      <a class="list" mat-list-item *ngIf="_authService.loggedIn() && IsAdmin()==true"  [routerLink]="['ayuda']">
        <mat-icon> info</mat-icon>&nbsp;Ayuda</a>

      <a class="list" mat-list-item *ngIf="!_authService.loggedIn()"  [routerLink]="['login']">
        <mat-icon>input</mat-icon>&nbsp; INGRESAR</a>

      <a class="list" mat-list-item *ngIf="_authService.loggedIn() " (click)="_authService.loggedOut()">
        <mat-icon>logout</mat-icon> &nbsp;SALIR</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style=" background-color: #f9bf04;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >Sistema de Inventarios</span>
    </mat-toolbar>
    <mat-card class="fondo">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
